#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--off-white); /* Updated background color */
}

/* Styling for the TextInput component */
input[type="text"] {
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 2px solid var(--secondary-dark); /* Use secondary dark color for borders */
  border-radius: 4px;
  width: 80%;
  max-width: 600px;
  color: var(--primary-dark); /* Use primary dark color for text */
  background-color: var(--light-accent); /* Use light accent color for background */
}

/* Styling for the ColorPicker component */
.color-picker {
  display: flex;
  justify-content: space-around;
  width: 80%;
  max-width: 600px;
  margin: 1rem 0;
}

.color-picker label {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--accent-color); /* Use accent color for label text */
}

.color-picker input[type="color"] {
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/* Styling for the FontPicker component */
.font-picker {
  margin: 1rem 0;
  width: 80%;
  max-width: 600px;
}

.font-picker select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 2px solid var(--secondary-dark); /* Use secondary dark color for borders */
  background-color: var(--light-accent); /* Use light accent color for background */
}

/* Styling for the FontSizePicker component */
.font-size-picker {
  margin: 20px 0;
  width: 80%;
  max-width: 600px;
}

.font-size-picker label {
  display: block;
  margin-bottom: 5px;
  font-weight: medium;
  color: var(--accent-color); /* Use accent color for label text */
}

.font-size-picker input[type="range"] {
  width: 100%;
}

/* Styling for the DisplayBox component */
.display-box {
  width: 100%;
  max-width: 800px;
  height: 500px;
  margin-top: 2rem;
  border: 2px solid var(--secondary-dark); /* Use secondary dark color for borders */
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--background-dark); /* Use background dark for inner background */
}

@media (max-width: 768px) {
  #root {
    padding: 1rem;
  }

  .color-picker, .font-picker, .font-size-picker {
    width: 90%;
  }

  input[type="text"], .display-box {
    width: 90%;
  }
}